{% extends 'accounts/base.html' %}
{% block navbar %}
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                {% for appointment in appointments %}
                    {% if request.user.get_user_role == 'Craftsman' %}
                        <h4>{{ appointment.customer.first_name }} {{ appointment.customer.last_name }}</h4>
                        <h4>{{ appointment.date }}</h4>
                        <hr/>
                    {% else %}
                        <h4>{{ appointment.craftsman.first_name }} {{ appointment.craftsman.last_name }}</h4>
                        <h4>{{ appointment.date }}</h4>
                        <hr/>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}