{% extends 'accounts/base.html' %}
{% block navbar %}

    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 text-center">
                {% for foo in craftsman %}
                    <h2>{{ foo.first_name }} {{ foo.last_name }}</h2>

                    {% for city in foo.cities.all %}
                        <h3>{{ city }}</h3>
                    {% endfor %}
                    {% for category in foo.categories.all %}
                        <h3>{{ category }}</h3>
                    {% endfor %}

                    {% if foo.is_available %}
                        <h3>Available for work</h3>

                        {% if user.is_authenticated %}
                            <a href="{% url 'appointment_create' foo.user_id %}" class="btn btn-info">Закажи</a>
                        {% endif %}
                    {% else %}
                        <h3>Not Available</h3>

                        {% if user.is_authenticated %}
                            <button disabled class="btn btn-info">Закажи</button>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}