{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block navbar %}
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="py-1">
                    <form method="get" action="{{ request.path }}">
                        {% for category in categories %}
                            <label for="{{ category }}"></label>
                            <input type="checkbox" name="categories" id="{{ category }}" value="{{ category }}">
                            {{ category }}
                        {% endfor %}
                        <button class="btn btn-info" style="min-width: 100%" type="submit">Search</button>
                    </form>
                    <br/>
                </div>

                {# results before searching #}
                {% if not filtered %}
                    {% for craftsman in craftsmen %}
                        {% if craftsman.user.is_active %}
                            <a href="{% url 'craftsman_details' craftsman.user_id %}">{{ craftsman.first_name }}
                                {{ craftsman.last_name }}</a>
                            <br/>
                            {% for city in craftsman.cities.all %}
                                {{ city }}
                            {% endfor %}
                            <br/>
                            {% for category in craftsman.categories.all %}
                                {{ category }}
                            {% endfor %}
                            {% if craftsman.is_available %}
                                <p>Достапен за работа</p>
                            {% else %}
                                <p>Недостапен за работа</p>
                            {% endif %}
                            <hr/>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {# results after searching #}
                {% for craftsman in filtered %}
                    {{ craftsman.first_name }}
                    {{ craftsman.last_name }}
                    <br/>
                {% endfor %}
            {{ m }}
            </div>
        </div>
    </div>
{% endblock %}