{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block navbar %}
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-info">Log in</button>
                </form>
                <div class="text-center">
                    <p>Forgot your password? <a href="{% url 'password_reset' %}">Click here</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}