{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block navbar %}
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-info">Update</button>
                    <div class="text-center">
                        <p>Want to change your password? <a href="{% url 'password_change' %}">Click here</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}