{% extends 'accounts/base.html' %}
{% block navbar %}
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 text-center">
                <h3>Регистрирај се како:</h3>
                <a class="btn btn-info" href="{% url 'customer_signup' %}">Customer</a>
                <a class="btn btn-danger" href="{% url 'craftsman_signup' %}">Craftsman</a>
            </div>
        </div>
    </div>
{% endblock %}