{% extends 'accounts/base.html' %}
{% block navbar %}
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <h5>We've emailed you instructions for setting your password, if an account exists with the email
                    you
                    entered. You should receive them shortly.</h5>
                <br/>
                <h5>If you don't receive an email, please make sure you've entered the address you registered with,
                    and
                    check your spam folder.
                </h5>
            </div>
        </div>
    </div>
{% endblock %}