{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block navbar %}
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <h2>Password reset complete</h2>
                <br/>
                <h6>Your password has been set. You may go ahead and log in now.</h6>
                <br/>
                <a class="btn btn-info" href="{% url 'login' %}">Log in</a>
            </div>
        </div>
    </div>
{% endblock %}